[submodule "Altis_PXG_Template.Altis/Scripts"]
	path = Altis_PXG_Template.Altis/Scripts
	url = https://github.com/PXG-Arma/Scripts.git

[submodule "VR_PXG_Template.VR/Scripts"]
	path = VR_PXG_Template.VR/Scripts
	url = https://github.com/PXG-Arma/Scripts.git
